# **Text Positive / Negative Analysis with GPT-4**

In [ ]:
#@title PIP Installation
!pip install pandas
!pip install numpy
!pip install matplotlib
!pip install plotly
!pip install seaborn
!pip install nltk
!pip install wordcloud
!pip install tqdm
!pip install vaderSentiment

In [10]:
#@title Import Classes
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objs as go
import plotly.offline as pyo
from plotly.subplots import make_subplots
from nltk.probability import FreqDist
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
from nltk.stem import SnowballStemmer
from nltk import pos_tag
from nltk.tokenize import word_tokenize
from wordcloud import WordCloud
from tqdm.auto import tqdm
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
# Import others
import warnings
import re
import string
import nltk

In [ ]:
#@title Configurations
warnings.filterwarnings('ignore')
plt.rc('figure',figsize=(17,13))
pyo.init_notebook_mode()

In [ ]:
#@title Download CSV file
!curl https://raw.githubusercontent.com/sharmaroshan/Twitter-Sentiment-Analysis/master/train_tweet.csv --output train_tweet.csv

In [7]:
#@title Read CSV
df = pd.read_csv('train_tweet.csv')
df.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [ ]:
#@title CSV Informations
print('Rows :',df.shape[0])
print('Columns :',df.shape[1])
print('\nFeatures :\n',df.columns.tolist())
print('\nMissing values :',df.isna().sum().values.sum())
print('\nUnique values :',df.nunique())

In [13]:
#@title Train Models
analyser = SentimentIntensityAnalyzer()
scores = []
durum = []

for i in range(len(df['tweet'])):
  score = analyser.polarity_scores(df["tweet"][i])
  score = score['compound']
  scores.append(score)
for i in scores:
  if i >= 0.05:
    durum.append('Pozitif')
  elif i<=(-0.05):
    durum.append('Negatif')
  else:
    durum.append('Normal')

In [19]:
#@title Graphs
df['duygu_durumu']=pd.Series(np.array(durum))
df.head(3)

,id,label,tweet,sentiment,duygu_durumu
0,1,0,@user when a father is dysfunctional and is s...,Negatif,Negatif
1,2,0,@user @user thanks for #lyft credit i can't us...,Pozitif,Pozitif
2,3,0,bihday your majesty,Normal,Normal

In [20]:
#@title Exploratory Data Analysis (EDA)
temp=df.groupby('duygu_durumu')['tweet'].count().reset_index().sort_values(by='duygu_durumu', ascending=False)
temp.style.background_gradient(cmap='Blues')